/* IMPORT GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* REMOVE DEFAULT BROWSER SPACINGS */
* {
    margin:0;
    padding: 0;
}

/* GENERAL STYLES */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Source Sans 3", sans-serif;
}
/* END GENERAL STYLES */

/* HEADER */
header {
    font-family: "Fjalla One", sans-serif;
    padding: 1rem;
    background-color: #d3d3d3;
    color: #2a2a2a;
}
/* END HEADER */

/* MAIN */
main {
    flex-grow: 1;
    padding: 1rem;
}
/* END MAIN */

/* FOOTER */
#social-networks {
    background-color: #d3d3d3;
    padding: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#social-networks i {
    color: #2a2a2a;
    font-size: 30px;
}
/* END FOOTER */

